<%= form_for @filter, url: alfabeta_updates_path, method: :get do |f| %>

    <div class="row">
      <!-- FECHAS -->
      <div class="col-md-4">
        <fieldset class="form-group">
          <%= f.label :start_date %>
          <div class='input-group date datepicker'>
            <%= f.date_field :start_date, class: 'form-control', value: @filter.start_date %>
            <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
          </div>
        </fieldset>
      </div>

      <div class='col-md-4'>
        <fieldset class="form-group">
          <%= f.label :finish_date %>
          <div class='input-group date datepicker'>
            <%= f.date_field :finish_date, class: 'form-control', value: @filter.finish_date %>
            <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
          </div>
        </fieldset>
      </div>

      <div class="col-md-4">
        <fieldset class="form-group">
          <%= f.label :filter, '' %><br/>
          <%= f.submit 'Filtrar', class: 'btn btn-primary', data: {behavior: 'filter'} %>
        </fieldset>
      </div>
    </div>

<% end %>
