<div class="row">
<div class="col-md-9">
<article class="box box-primary">
<section class="box-body">

<%= form_for [@user, @service] do |f| %>
  <% @service.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
  
  <%= f.hidden_field :type %>

  <fieldset class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </fieldset>
  
  <div class="row">
    <fieldset class="form-group col-md-2">
      <%= f.label :days %>
      <%= f.number_field :days, class: 'form-control', required: true %>
    </fieldset>
  </div>

  <% if @service.is_a?(ServicePfpc) %>
    <%= render 'pfpc_form', f: f %>
  <% else %>
    <%= render 'points_form', f: f %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Guardar servicio', class: 'btn btn-primary', data: { 'disable-with' => 'Cargando...' } %>
  </div>
<% end %>

</section>
</article>
</div>
</div>