<div class="row">
  <fieldset class="form-group col-md-5">
    <%= f.label :vademecum %>
    <%= f.collection_select :vademecum_id, Vademecum.all, :id, :name, {prompt: 'Seleccione un vademecum'}, {class: 'form-control', id: 'js-vademecumField'} %>
  </fieldset>
</div>

<div class="row">
  <div class="col-md-7"> <%= label_tag :products, 'Producto' %> </div>
  <div class="col-md-3"> <%= label_tag :products, 'Cantidad' %> </div>
</div>

<div id="js-productPfpcs" class="product_pfpcs form-group">
  <%= f.fields_for :product_pfpcs do |p| %>
      <%= render 'product_pfpc_fields', f: p %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Nuevo Producto', f, :product_pfpcs, class: 'btn btn-default' %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10"> <%= label_tag :suppliers, 'Prestador' %></div>
</div>

<div id="js-pfpcSuppliers" class="pfpc_suppliers form-group">
  <%= render partial: 'pfpc_suppliers/form', locals: { f: f } %>
</div>

<%= content_for(:form_help) do %>
    <div class="callout callout-warning">
      <h4>Notas</h4>

      <p>
        Los productos ser치n filtrados por el <b>Vademecum seleccionado</b>.
      </p>

      <p>
        Los productos previamente a침adidos a otro servicio no est치n disponibles para la selecci칩n.
      </p>
    </div>
<% end %>