<tr>
  <td>
    <%= link_to service.user [@supplier, service.user] do %>
      <%= t service.user.document_type, scope: :document_types %>
      <%= service.user.document_number %> -
      <%= service.user %> 
    <% end %>
  </td>
  <td> <%= service.user.email %> </td>
  <td> <%= t service.type, scope: :service_types %> </td>
  <td> <%= link_to service, [service.user, service] %> </td>
  <td> <%= l service.last_period.end_date %> </td>
  <% unless @supplier %>
    <td> <%= service.user.supplier %> </td>
  <% end %>
</tr>