<header class="content-header">
  <%= link_to 'Volver', :back, class: 'btn btn-default pull-right' %>
  <h1>Información de servicio</h1>
</header>

<% klass = (@service.in_progress?) ? 'success' : 'danger' %>

<section class="content">

  <div class="row">
    <div class="col-md-4">
      <article class="box box-<%= klass %>">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">
            <%= @service.name %>
          </h3>

          <% if @service.is_a?(PointsService) %>

              <!-- Servicio de Puntos -->
              <p class="text-muted text-center">
                <%= t "service_statuses.#{@service.status}" %>
              </p>
              <p class="text-muted text-center">
                Puntos a cumplir: <strong><%= @service.amount %></strong>
              </p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <strong>Puntos Acumulados</strong>
                  <a class="pull-right"> 0 </a>
                </li>
                <li class="list-group-item">
                  <strong>Vence en</strong>
                  <a class="pull-right"> <%= "#{@service.days_to_expire} días" %> </a>
                </li>
              </ul>

          <% else %>

              <!-- Servicio PFPC -->
              <p class="text-muted text-center">
                <%= t "service_statuses.#{@service.status}" %>
              </p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <strong>Vence en</strong>
                  <a class="pull-right"> <%= "#{@service.days_to_expire} días" %> </a>
                </li>
              </ul>
              <p class="text-muted text-center"> Acumulado en último Período </p>

              <ul class="list-group list-group-unbordered">
                <% @service.product_pfpcs.each do |p| %>
                    <li class="list-group-item">
                      <strong><%= p.product %></strong>
                      <div class="pull-right">
                        0 de <a><%= p.amount %></a>
                      </div>
                    </li>
                <% end %>
              </ul>
          <% end %>
        </section>

        <div class="box-footer">
          <% if god? %>
              <%= link_to 'Editar', [:edit, @user, @service], class: 'btn btn-success' if @service.pending? %>
              <%= link_to 'Finalizar', [:finalize, @user, @service], class: 'btn btn-info', method: :put if @service.in_progress? %>
              <%= link_to 'Eliminar', [@user, @service], method: :delete, class: 'btn btn-danger', data: {confirm: '¿Está seguro?'} %>
          <% end %>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="box box-<%= klass %>">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">
            Período Actual
          </h3>

          <% if !@service.in_progress? %>
              <%= render 'inactive_service' %>
          <% elsif @service.is_a?(PointsService) %>
              <%= render partial: 'points_period', locals: {period: @service.last_period} %>
          <% else %>
              <%= render partial: 'pfpc_period', locals: {period: @service.last_period} %>
          <% end %>
        </section>
      </article>

      <div id="js-history" class="text-center">
        <% periods_count = @service.periods.not_in_progress.count %>
        <% unless periods_count == 0 %>
            <%= link_to "Ver Historial (#{periods_count} más)", history_service_path(@service), remote: true, data: {'diable-with' => 'Cargando...'} %>
        <% end %>
      </div>

    </div>
  </div>
</section>