<header class="content-header">
  <%= link_to 'Volver', @user, class: 'btn btn-default pull-right' %>
  <h1>Información de servicio</h1>
</header>

<% klass = (@service.in_progress?) ? 'success' : 'danger' %>

<section class="content">

  <div class="row">
    <div class="col-md-4">
      <article class="box box-<%= klass %>">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">
            <%= @service.name %>
          </h3>
          
          <% if @service.is_a?(PointsService) %>
            
            <!-- Servicio de Puntos -->
            <p class="text-muted text-center">
              Puntos a cumplir: <strong><%= @service.amount %><strong/>
            </p>
            
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <strong>Puntos Acumulados</strong>
                <a class="pull-right"> 0 </a>
              </li>
              <li class="list-group-item">
                <strong>Vence en</strong>
                <a class="pull-right">x días</a>
              </li>
            </ul>

          <% else %>  
          
            <!-- Servicio PFPC -->
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <strong>Vence en</strong>
                <a class="pull-right">x días</a>
              </li>
            </ul>
            <p class="text-muted text-center"> Acumulado en último Período </p>

            <ul class="list-group list-group-unbordered">
              <% @service.product_pfpcs.each do |p| %>
                <li class="list-group-item">
                  <strong><%= p.product %></strong>
                  <div class="pull-right">
                    0 de <a><%= p.amount %></a>
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>
        </section>

        <div class="box-footer">
          <%= link_to 'Editar', [:edit, @user, @service],
              class: 'btn btn-success' %>
          <%= link_to 'Eliminar', [@user, @service], method: :delete,
              class: 'btn btn-danger', data: {confirm: '¿Está seguro?'} %>
        </div>
      </article>
    </div>
    
    <div class="col-md-4">
      <article class="box box-<%= klass %>">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">
            Período Actual
          </h3>
        
          <% if @service.expired? %>
            <%= render 'inactive_service' %>
          <% elsif @service.is_a?(PointsService) %>
            <%= render 'points_period' %>
          <% else %>
            <%= render 'pfpc_period' %>
          <% end %>
        </section>
      </article>
    </div>
    
  </div>

</section>