<div class="comments">
  <h3> Comentarios </h3>

  <div class="well">

    <div id="<%= dom_id(@commentable, 'comments') %>">
      
      <div id="<%= dom_id(@commentable, 'comments-list') %>">
        <%= render @comments %>
      </div>
      
      <%= content_tag(:p, 'No hay comentarios', class: 'text-muted text-center', 
              id: dom_id(@commentable, 'remove-comments') ) if @comments.empty? %>
              
      <div class="comments-pagination">
        <%= link_to_next_page @comments, 'Siguiente', class: 'btn btn-default', remote: true %>
      </div>
    </div>
    
  </div>
  
  <h4> Nuevo Comentario </h4>
  <%= render 'form' %>
  
</div>