<div class="row">
  <div class="col-md-8">
    <article class="box box-primary">
    <section class="box-body">

    <%= form_for [@supplier, @supplier_request], html: { id: 'js-supplierRequestForm' } do |f| %>
      <% @supplier_request.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
  
      <% fields_disabled = !@supplier_request.user_id.nil? %>
      <%= f.hidden_field :user_id %>
      
      <div class="row">
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :document_number %>
            <div class="row">
              <h4 class="col-md-12"> 
                <%= f.hidden_field :document_type %>
                <%= f.hidden_field :document_number %>
                <%= t "document_types.#{@supplier_request.document_type}" %> -
                <%= @supplier_request.document_number %>
              </h4>
            </div>
          </fieldset>
        </div>
    
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control', disabled: fields_disabled %>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control', required: true, disabled: fields_disabled %>
          </fieldset>
        </div>
    
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control', required: true, disabled: fields_disabled %>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: 'form-control', disabled: fields_disabled %>
          </fieldset>
        </div>
    
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, class: 'form-control', disabled: fields_disabled %>
          </fieldset>
        </div>
      </div>

      <% if god? %>  
        <div class="row">
          <% if god? && !@supplier %>
            <div class="col-md-6">
              <fieldset class="form-group">
                <%= f.label :supplier_id %>
                <%= f.collection_select :supplier_id, Supplier.all,
                    :id, :name, {}, {class: 'form-control', include_blank: false} %>
              </fieldset>
            </div>
        
            <div class="col-md-6">
              <fieldset class="form-group">
                <%= f.label :status %>
                <%= f.select :status, SupplierRequest.statuses.keys.map {|s| [I18n.t("supplier_request.status.#{s}"), s]},
                  {include_blank: false}, {class: 'form-control'} %>
              </fieldset>
            </div>      
          <% end %>
        </div>
      <% end %>
  
      <div class="row">
        <div class="col-md-12">
          <fieldset class="form-group">
            <%= f.label :notes %>
            <%= f.text_area :notes, class: 'form-control' %>
          </fieldset>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Guardar Solicitud', class: 'btn btn-primary', 'data-disable-with' => 'Cargando...'  %>
      </div>
    <% end %>

    </section>
    </article>
  </div>
  
  <% unless @supplier_request.user_id.nil? %>
    <div class="col-md-4">

      <div class="callout callout-warning">
        <h4>El usuario con el documento especificado ya existe</h4>
      
        <p> Indique los servicios que desea asignarle al usuario </p>
        <p> Por favor compruebe que los datos sean correctos, caso contrario especifique los nuevos en las Notas </p>
      </div>

    </div>
  <% end %>
</div>