<header class="content-header">
  <%= link_to 'Volver', [@supplier, :supplier_requests],
              class: 'btn btn-default pull-right' %>
  <h1>Información de solicitud</h1>
</header>

<section class="content">

  <div class="row">
    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">
            <%= @supplier_request.full_client_name %>
          </h3>
          <p class="text-muted text-center">
            Solicitada por <%= @supplier_request.created_by.email %><br/>
            <%= l @supplier_request.created_at, format: :short %>
          </p>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b><%= I18n.t @supplier_request.document_type, scope: :document_types %></b>
              <a class="pull-right"><%= @supplier_request.document_number %></a>
            </li>
            <li class="list-group-item">
              <b>Correo </b>
              <a class="pull-right"><%= @supplier_request.email %></a>
            </li>
            <li class="list-group-item">
              <b>Teléfono</b>
              <a class="pull-right"><%= @supplier_request.phone %></a>
            </li>
            <li class="list-group-item">
              <b>Domicilio</b>
              <a class="pull-right"><%= @supplier_request.address %></a>
            </li>
            <li class="list-group-item">
              <b>Prestador</b>
              <a class="pull-right"><%= @supplier_request.supplier.name %></a>
            </li>
            <li class="list-group-item">
              <b>Estado</b>
              <a class="pull-right"><%= t "supplier_request.status.#{@supplier_request.status}" %></a>
            </li>
          </ul>
          <% if @supplier_request.notes %>
              <strong>Notas</strong>
              <p><%= @supplier_request.notes %></p>
          <% end %>
        </section>
        <div class="box-footer">
          <% if @supplier_request.user %>
              <%= link_to 'Ver tarjeta', [@supplier, @supplier_request.user],
                          class: 'btn btn-primary' if @supplier_request.user %>
          <% else %>
              <%= link_to 'Asignar tarjeta', [:add_card, @supplier_request],
                          method: :post, class: 'btn btn-primary' if god? %>
          <% end %>
          <%= link_to 'Editar', [:edit, @supplier, @supplier_request],
                      class: 'btn btn-success' %>
          <%= link_to 'Eliminar', [@supplier, @supplier_request], method: :delete, class: 'btn btn-danger',
                      data: {confirm: '¿Está seguro?'} unless is_me?(@user) %>
        </div>
      </article>
    </div>
    <div class="col-md-8">
      <%= comment_widget(url_for([@supplier_request, :comments])) %>
    </div>
  </div>

</section>