<header class="content-header">
  <%= link_to 'Editar', [:edit, @supplier, @supplier_request],
      class: 'btn btn-sm btn-success pull-right' %>
  <%= link_to 'Volver', [@supplier, :supplier_requests],
      class: 'btn btn-sm btn-default pull-right' %>
  <h1>Ver Solicitud</h1>
</header>

<section class="content">

  <dl>
    <dt>Fecha</dt>
    <dd><%= l @supplier_request.created_at %></dd>
    
    <dt>Nombre</dt>
    <dd><%= @supplier_request.full_client_name %></dd>
    
    <dt>Documento</dt>
    <dd><%= @supplier_request.full_identification %></dd>
  
    <dt>Correo Electrónico</dt>
    <dd><%= @supplier_request.email.presence || '--' %></dd>
    
    <dt>Teléfono</dt>
    <dd><%= @supplier_request.phone.presence || '--' %></dd>
    
    <dt>Domicilio</dt>
    <dd><%= @supplier_request.address.presence || '--' %></dd>

    <dt>Creado por</dt>
    <dd>
      <%= @supplier_request.created_by.email %>
    </dd>

    <dt>Prestador</dt>
    <dd><%= @supplier_request.supplier.name %></dd>
    
    <dt>Notas</dt>
    <dd><%= @supplier_request.notes.presence || '--' %></dd>
  </dl>

</section>