<tr id="reward_order_<%= reward_order.id %>">
  <td><%= l reward_order.created_at, format: :short %></td>
  <td><%= reward_order.code %></td>
  <td><%= t reward_order.state, scope: :reward_order_states %></td>
  <td><%= reward_order.user.card_number %></td>
  <td><%= reward_order.user %></td>
  <td><%= reward_order.supplier %></td>
  <td class="pull-right">
    <%= link_to 'Ver', reward_order, class: 'btn btn-xs btn-info' %>
    <% case true %>
    <% when god? %>
      <%= reward_order_state(reward_order) %>
    <% when admin? && ['incoming','ready','delivered','canceled','not_delivered'].include?(reward_order.state) %>
      <%= reward_order_state(reward_order) %>
    <% end %>
  </td>
</tr>


