<%= form_for @filter, url: [@supplier, :users], method: :get do |f| %>

  <div class="row">

    <div class="col-md-2">
      <fieldset class="form-group">
        <%= f.label :document_number %>
        <%= f.text_field :document_number, class: 'form-control' %>
      </fieldset>
    </div>

    <div class="col-md-2">
      <fieldset class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </fieldset>
    </div>

    <div class="col-md-2">
      <fieldset class="form-group">
        <%= f.label :role %>
        <%= f.select :role, filter_permitted_roles.map{|role| [t("roles.#{role}"), role]},
          {include_blank: true}, {class: 'form-control'} %>
      </fieldset>
    </div>

    <div class="col-md-2">
      <fieldset class="form-group">
        <%= f.label :card_number %>
        <%= f.text_field :card_number, class: 'form-control',
          pattern: '[0-9A-Fa-f]+', title: 'Sólo dígitos y letras A B C D E F (sin espacios)' %>
      </fieldset>
    </div>

    <div class="col-md-2">
      <fieldset class="form-group">
        <%= f.label :card_state %>
        <%= f.select :card_state, [
            ['Sin tarjeta', :without_card],
            ['Debe aceptar condiciones', :should_accept_terms],
            ['Con tarjeta', :with_card]
          ], {include_blank: true}, {class: 'form-control'} %>
      </fieldset>
    </div>

    <div class="col-md-2">
      <fieldset class="form-group">
        <%= f.label :filter %><br />
        <%= f.submit 'Filtrar', class: 'btn btn-primary', data: { 'disable-with' => 'Filtrando' } %>
      </fieldset>
    </div>
  </div>

<% end %>