<div class="row">
<div class="col-md-6">
<article class="box box-primary">
<section class="box-body">

<%= form_for [@supplier, @user] do |f| %>
  <% @user.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= render 'users/basic_fields', f: f %>

  <fieldset class="form-group">
    <%= f.label :image %>
    <%= image_tag @user.image.thumb('100x200').url, class: :thumbnail if @user.image %>
    <% if @user.image %>
      <%= f.check_box :remove_image %> <%= f.label :remove_image, 'Remover foto' %>
    <% end %>
    <%= f.file_field :image %>
    <p class="help-block">
      <%= @user.image ? 'Click para cambiar la foto' : 'Seleccione una fotografía' %>
    </p>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>

</section>
</article>
</div>
</div>