<tr>
  <td>
    <%= t user.document_type, scope: :document_types %>
    <%= user.document_number %>
  </td>

  <td><%= user.email %></td>
  <td><%= user.first_name %> <%= user.last_name %></td>
  <td><%= I18n.t user.role, scope: :roles %></td>

  <% unless @supplier %>
    <td><%= user.supplier.name if user.supplier_id %></td>
  <% end %>

  <td>
    <% if !user.card_number %>
      <p class="small text-muted">Sin tarjeta</p>
    <% elsif user.terms_accepted? %>
      <p class="small text-success">
        <%= format_card_number user.card_number, separator: ' - ' %>
      </p>
    <% else %>
      <p class="small text-warning">Aún debe aceptar condiciones</p>
    <% end %>
  </td>

  <td class="pull-right">
    <%= link_to 'Ver', [@supplier, user], class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Editar', [:edit, @supplier, user], class: 'btn btn-xs btn-success' %>
    <% if is_me?(user) %>
      <button type="button" class="btn btn-xs btn-danger disabled">Eliminar</button>
    <% else %>
      <%= link_to 'Eliminar', [@supplier, user],method: :delete,
        data: {confirm: '¿Está seguro?'}, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>