<tr>
  <td><%= user.email %></td>
  <td><%= I18n.t user.role, scope: :roles %></td>
  <% unless @supplier %>
    <td><%= user.supplier.name if user.supplier_id %></td>
  <% end %>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= link_to 'Ver', [@supplier, user] %></td>
  <td><%= link_to 'Editar', [:edit, @supplier, user] %></td>
  <td><%= link_to 'Eliminar', user, method: :delete, data: {confirm: '¿Está seguro?'} %></td>
</tr>