<header class="content-header">
  <%= link_to 'Nuevo Usuario', [:new, @supplier, :user],
      class: 'btn btn-primary pull-right' %>
  <% if @supplier %>
    <h1>Usuarios de <%= @supplier.name %></h1>
  <% else %>
    <h1>Todos los usuarios</h1>
  <% end %>
</header>

<!-- Main content -->
<section class="content">
<article class="box box-primary">
<section class="box-body">

  <%= render 'filter' %>

  <table class="table">
    <thead>
      <tr>
        <th>Documento</th>
        <th>Correo electrónico</th>
        <th>Nombre y Apellido</th>
        <th>Rol</th>
        <% unless @supplier %>
          <th>Prestador</th>
        <% end %>
        <th>Estado de tarjeta</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>

  <%= paginate @users %>

</section>
</article>
</section>

<% if @users.empty? && params[:user_filter] %>
  <p class="text-center text-muted lead">
    No se encontraron resultados
  </p>
<% end %>