<header class="content-header">
  <%= link_to 'Volver', [@supplier, :users],
      class: 'btn btn-default pull-right' %>
  <h1>Información del usuario</h1>
</header>

<section class="content">

  <div class="row">

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <%= image_tag @user.image.thumb('100x200').url, class: 'profile-user-img img-responsive' if @user.image %>
          <h3 class="profile-username text-center"><%= @user.first_name %> <%= @user.last_name %></h3>
          <p class="text-muted text-center"><%= @user.email %></p>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b><%= I18n.t @user.document_type, scope: :document_types %></b>
              <a class="pull-right"><%= @user.document_number %></a>
            </li>
            <li class="list-group-item">
              <b>Permisos</b> <a class="pull-right"><%= @user.role %></a>
            </li>
            <li class="list-group-item">
              <b>Prestador</b>
              <a class="pull-right"><%= @user.supplier.name %></a>
            </li>
          </ul>
          <%= link_to 'Editar', [:edit, @supplier, @user],
              class: 'btn btn-block btn-primary' %>
        </section>
      </article>
    </div>

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">Información adicional</h3>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Teléfono(s)</b> <a class="pull-right"><%= @user.phone %></a>
            </li>
            <li class="list-group-item">
              <b>Dirección</b>
              <a class="pull-right"><%= @user.address %></a>
            </li>
            <li class="list-group-item">
              <b>Número Interno</b>
              <a class="pull-right"><%= @user.number %></a>
            </li>
            <li class="list-group-item">
              <b>Nombre de usuario</b>
              <a class="pull-right"><%= @user.username %></a>
            </li>
            <% if @user.created_by %>
              <li class="list-group-item">
                <b>Creado por</b>
                <a class="pull-right"><%= @user.created_by.email %></a>
              </li>
              <li class="list-group-item">
                <b>Fecha de creación</b>
                <a class="pull-right"><%= @user.created_at %></a>
              </li>
            <% end %>
          </ul>
        </section>
      </article>
    </div>

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">Información de tarjetas</h3>
          <% if @user.cards.empty? %>
            <p class="text-muted text-center">Aún no tiene tarjetas</p>
          <% elsif @user.card.terms_accepted? %>
            <%= @user.card.number %>
          <% else %>
            <p class="text-muted text-center">No tiene tarjetas activas</p>
          <% end %>
        </section>
      </article>
    </div>
  </div>
</section>