<header class="content-header">
  <div class="pull-right">
    <%= link_to 'Usuarios', [@supplier, :users], class: 'btn btn-info' if admin? %>
    <%= link_to 'Editar', [:edit, @supplier, @user], class: 'btn btn-success' %>
    <%= link_to 'Eliminar', [@supplier, @user], method: :delete, class: 'btn btn-danger',
                data: {confirm: '¿Está seguro?'} unless is_me?(@user) %>
  </div>
  <h1>Información del usuario</h1>
</header>

<section class="content">

  <div class="row">

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <%= image_tag @user.image.thumb('100x200').url, class: 'profile-user-img img-responsive' if @user.image %>
          <h3 class="profile-username text-center">
            <%= @user.first_name %>
            <%= @user.last_name %>
          </h3>
          <p class="text-muted text-center"><%= @user.email %></p>
          <ul class="list-group list-group-unbordered">

            <ul class="list-unstyled">
              <li></li>
              <li></li>
            </ul>


            <li class="list-group-item">
              <ul class="list-unstyled">
                <li><b><%= I18n.t @user.document_type, scope: :document_types %></b></li>
                <li><a><%= @user.document_number %></a></li>
              </ul>
            </li>

            <li class="list-group-item">
              <ul class="list-unstyled">
                <li><b>Permisos</b></li>
                <li><a><%= I18n.t @user.role, scope: 'roles' %></a></li>
              </ul>
            </li>

            <li class="list-group-item">
              <ul class="list-unstyled">
                <li><b>Prestador</b></li>
                <li><a><%= @user.supplier.name %></a></li>
              </ul>
            </li>

            <li class="list-group-item">
              <ul class="list-unstyled">
                <li><b>Puntos</b></li>
                <li>
                  <span>
                    <% if god? %>
                      <%= link_to edit_points_user_path(@user), data: {behavior: 'ajax-modal', target: '#modal_one'} do %>
                        <i class="fa fa-fw fa-pencil"></i>
                      <% end %>
                    <% end %>
                    <%= @user.cache_points %>
                  </span>
                </li>
              </ul>
            </li>

          </ul>
        </section>
      </article>
    </div>

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">Información adicional</h3>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <ul class="list-unstyled">
                <li><b>Teléfono(s)</b></li>
                <li><a><%= @user.phone %></a></li>
              </ul>
            </li>

            <li class="list-group-item">
              <ul class="list-unstyled">
                <li><b>Dirección</b></li>
                <li><a><%= @user.address %></a></li>
              </ul>
            </li>

            <li class="list-group-item">
              <ul class="list-unstyled">
                <li><b>Número Interno</b></li>
                <li><a><%= @user.number %></a></li>
              </ul>
            </li>

            <li class="list-group-item">
              <ul class="list-unstyled">
                <li><b>Nombre de usuario</b></li>
                <li><a><%= @user.username %></a></li>
              </ul>
            </li>

            <% if @user.created_by %>
                <li class="list-group-item">
                  <ul class="list-unstyled">
                    <li><b>Creado por</b></li>
                    <li><a><%= @user.created_by.email %></a></li>
                  </ul>
                </li>

                <li class="list-group-item">
                  <ul class="list-unstyled">
                    <li><b>Fecha de creación</b></li>
                    <li><a><%= l @user.created_at, format: :short %></a></li>
                  </ul>
                </li>
            <% end %>
          </ul>
        </section>
      </article>
    </div>

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">Información de tarjeta</h3>

          <% if @user.card_number %>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <ul class="list-unstyled">
                    <li><b>Número de tarjeta</b></li>
                    <li><a><%= @user.card_number %></a></li>
                  </ul>
                </li>

                <li class="list-group-item">
                  <ul class="list-unstyled">
                    <li><b>Estado</b></li>
                    <li><a><%= @user.terms_accepted? ? 'Activa' : 'Aún no ha aceptado los términos de uso' %></a></li>
                  </ul>
                </li>

                <li class="list-group-item">
                  <b> Servicios</b>
                  <% if @user.services.empty? %>
                      <a class="pull-right"> Sin Servicios </a>
                  <% else %>
                      <ul class="no-bullets">
                        <% @user.services.each do |service| %>
                            <li>
                              <%= link_to service, [@user, service] %>
                              <span class="text-muted"> (<%= t "service_types.#{service.type}" %>)</span>
                            </li>
                        <% end %>
                      </ul>
                  <% end %>
                </li>
              </ul>
          <% else %>
              <p class="text-muted text-center">Aún no tiene tarjeta</p>
              <% if god? %>
                  <p class="text-center"><%= link_to 'Asignar Tarjeta', [:assign_card, @user], method: :patch %></p>
              <% end %>
          <% end %>

          <!-- Create a service -->
          <% if god? %>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Nuevo Servicio <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <% available_services_for(@user).each do |type| %>
                      <li> <%= link_to t("service_types.#{type}"), new_user_service_path(@user, type: type) %> </li>
                  <% end %>
                </ul>
              </div>

              </ul>
          <% end %>

        </section>
      </article>
    </div>
  </div>
</section>
