<header class="content-header">
  <div class="pull-right">
    <%= link_to 'Usuarios', [@supplier, :users], class: 'btn btn-info' %>
    <%= link_to 'Editar', [:edit, @supplier, @user], class: 'btn btn-success' %>
    <%= link_to 'Eliminar', [@supplier, @user], method: :delete, class: 'btn btn-danger',
         data: {confirm: '¿Está seguro?'} unless is_me?(@user) %>
  </div>
  <h1>Información del usuario</h1>
</header>

<section class="content">

  <div class="row">

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <%= image_tag @user.image.thumb('100x200').url, class: 'profile-user-img img-responsive' if @user.image %>
          <h3 class="profile-username text-center">
            <%= @user.first_name %>
            <%= @user.last_name %>
          </h3>
          <p class="text-muted text-center"><%= @user.email %></p>
          <ul class="list-group list-group-unbordered">

            <li class="list-group-item">
              <b><%= I18n.t @user.document_type, scope: :document_types %></b>
              <a class="pull-right">
                <%= @user.document_number %>
              </a>
            </li>

            <li class="list-group-item">
              <b>Permisos</b>
              <a class="pull-right">
                <%= I18n.t @user.role, scope: 'roles' %>
              </a>
            </li>

            <li class="list-group-item">
              <b>Prestador</b>
              <a class="pull-right">
                <%= @user.supplier.name %>
              </a>
            </li>

          </ul>
        </section>
      </article>
    </div>

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">Información adicional</h3>
          <ul class="list-group list-group-unbordered">

            <li class="list-group-item">
              <b>Teléfono(s)</b>
              <a class="pull-right"><%= @user.phone %></a>
            </li>

            <li class="list-group-item">
              <b>Dirección</b>
              <a class="pull-right"><%= @user.address %></a>
            </li>

            <li class="list-group-item">
              <b>Número Interno</b>
              <a class="pull-right"><%= @user.number %></a>
            </li>

            <li class="list-group-item">
              <b>Nombre de usuario</b>
              <a class="pull-right"><%= @user.username %></a>
            </li>

            <% if @user.created_by %>

              <li class="list-group-item">
                <b>Creado por</b>
                <a class="pull-right"><%= @user.created_by.email %></a>
              </li>

              <li class="list-group-item">
                <b>Fecha de creación</b>
                <a class="pull-right"><%= @user.created_at %></a>
              </li>

            <% end %>

          </ul>
        </section>
      </article>
    </div>

    <div class="col-md-4">
      <article class="box box-primary">
        <section class="box-body box-profile">
          <h3 class="profile-username text-center">Información de tarjeta</h3>

          <% if @user.card_number %>
            <ul class="list-group list-group-unbordered">

              <li class="list-group-item">
                <b>Número de tarjeta</b>
                <a class="pull-right"><%= format_card_number @user.card_number %></a>
              </li>

              <% if @user.supplier_request %>
                <li class="list-group-item">
                  <b>Solicitada por</b>
                  <%= link_to @user.supplier_request.created_by,
                      @user.supplier_request, class: 'pull-right',
                      title: 'Click para ver solicitud original' %>
                </li>
              <% end %>

              <li class="list-group-item">
                <b>Estado</b>
                <a class="pull-right">
                  <%= @user.terms_accepted? ? 'Activa' : 'Aún no ha aceptado los terminos de uso' %>
                </a>
              </li>
              
              <li class="list-group-item">
                <b> Servicios</b>
                <% if @user.services.empty? %>
                  <a class="pull-right"> Sin Servicios </a>
                <% else %>
                  <ul class="no-bullets">
                    <% @user.services.each do |service| %>
                      <li> 
                        <%= link_to service, [@user, service] %> 
                        <span class="text-muted"> (<%= t "service_types.#{service.type}" %>)</span>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            </ul>
          <% else %>
            <p class="text-muted text-center">Aún no tiene tarjeta</p>
          <% end %>
            
          <!-- Create a service -->
          <% if god? %>
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nuevo Servicio <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% Service::TYPES.each do |type| %>
                  <li> <%= link_to t("service_types.#{type}"), new_user_service_path(@user, type: type) %> </li>
                <% end %>
              </ul>
            </div>
            
            </ul>
          <% else %>
            <p class="text-muted text-center">Aún no tiene tarjetas</p>
            <p class="text-center"><%= link_to 'Asignar Tarjeta', [:assign_card, @user], method: :patch %></p>
          <% end %>
          
        </section>
      </article>
    </div>
  </div>
</section>