<div class="col-xs-6 col-md-4">
  <article class="box box-success">
    <section class="box-body item">
      <div class="item-image" style="background-image:url(<%= reward.image.url %>)">
        <%= link_to 'javascript:;', class: 'reward-info' do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
      </div>
      <div class="item-description">
        <h3>
          <span class="name"><%= reward.name %></span><span class="points"><%= reward.need_points %></span><span class='clear-both'></span>
        </h3>

        <div class="row reward_shop_cart_control" id="reward_shop_cart_control_container_<%= reward.id %>">
          <%= render 'reward_shop_cart_control', reward: reward, source: 'list' %>
        </div>


        <div class="full-description" style="display:none;">
          <hr>
          <h4>
            <span class="left"><%= t reward.reward_kind, scope: :reward_kinds %></span><span class="right">#<%= reward.code %></span><span class='clear-both'></span>
          </h4>
          <hr>
          <span class="description"><%= reward.description %></span>
        </div>
      </div>
    </section>
  </article>
</div>


