<header class="content-header">
  <h1>Premios</h1>
</header>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-9">

      <article class="box box-success">
        <section class="box-body">
          <%= render 'list_filter' %>
          <%= paginate @rewards %>
        </section>
      </article>

    </div>
    <div class="col-md-3">
      <article class="box box-success">
        <section class="box-body">
          <b>Número de tarjeta</b><br>
          <a><%= format_card_number current_user.card_number %></a><br>
          <b>Puntos disponibles</b><br>
          <a><%= current_user.cache_points %></a><br>
          <b>Puntos usados</b><br>
          <a id="used_points"><%= ShopCart::need_points(session) %></a><br>
          <b>Puntos restantes</b><br>
          <a id="used_points"><%= current_user.cache_points - ShopCart::need_points(session) %></a>
        </section>
      </article>
    </div>

  </div>

  <div class="row list_rewards">
    <%= render partial: 'list_reward', collection: @rewards, as: :reward %>
  </div>

</section>