<tr>
  <td><%= authorization.id %></td>
  <td><%= authorization.seller.supplier %></td>
  <td><%= authorization.seller %></td>
  <td><%= authorization.client %></td>
  <td><%= authorization.status %></td>
  <td><%= authorization.created_at %></td>
</tr>