<ul class="sidebar-menu">
  <li class="header">Opciones</li>

  <li>
    <%= link_to root_path, data: {confirm: '¿Abandonar el area de administración?'} do %>
      <i class="fa fa-home"></i>
      <span>Inicio</span>
    <% end %>
  </li>

  <li>
    <%= link_to admin_path do %>
      <i class="fa fa-cog"></i>
      <span>Panel</span>
    <% end %>
  </li>
  
  <li>
    <%= link_to list_shopping_cart_rewards_path do %>
      <i class="fa fa-gift"></i>
      <span>Premios</span>
    <% end %>
  </li>
  
  <li>
    <%= link_to reward_orders_path do %>
      <i class="fa fa-cubes"></i>
      <span>Canje de Premios</span>
    <% end %>
  </li>


  <li>
    <%= link_to [@supplier, current_user, :sales] do %>
      <i class="fa fa-shopping-cart"></i>
      <span>Ventas</span>
    <% end %>
  </li>

  <% if god? %>
    <li>
      <%= link_to rewards_path do %>
        <i class="fa fa-gift"></i>
        <span>Administrar Premios</span>
      <% end %>
    </li>

    <li>
      <%= link_to suppliers_path do %>
        <i class="fa fa-square"></i>
        <span>Prestadores</span>
      <% end %>
    </li>
    
    <li class="treeview">
      <a href="#">
        <i class="fa fa-bullseye"></i> <span>Productos</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li> <%= link_to 'Listado de Productos', products_path %> </li>
        <li> <%= link_to 'Vademecums', vademecums_path %> </li>
      </ul>
    </li>
    <li>
      
    </li>
      
    <li>
      <%= link_to users_path do %>
        <i class="fa fa-users"></i>
        <span>Todos los usuarios</span>
      <% end %>
    </li>
    
    <li>
      <%= link_to near_expiration_services_path do %>
        <i class="fa fa-users"></i>
        <span>Servicios próximos a vencer</span>
      <% end %>
    </li>
    
    <li>
      <%= link_to supplier_requests_path do %>
        <i class="fa fa-file-text-o"></i>
        <span>Todas las solicitudes</span>
      <% end %>
    </li>
  <% elsif supplier? %>
    <li>
      <%= link_to current_user.supplier do %>
        <i class="fa fa-square"></i>
        <span>Prestador</span>
      <% end %>
    </li>

    <li>
      <%= link_to [current_user.supplier, :users] do %>
        <i class="fa fa-users"></i>
        <span>Usuarios</span>
      <% end %>
    </li>
        
    <li>
      <%= link_to [current_user.supplier, :supplier_requests] do %>
        <i class="fa fa-file-text-o"></i>
        <span>Solicitudes</span>
      <% end %>
    </li>
  <% end %>

</ul>