<%= form_for @filter, url: :suppliers, method: :get do |f| %>

  <div class="row">
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </fieldset>
    </div>

    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :state %>
        <%= f.select :state, [['Activo', true], ['Inactivo', false]],
          {include_blank: true}, {class: 'form-control'} %>
      </fieldset>
    </div>

    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :filter %><br />
        <%= f.submit 'Filtrar', class: 'btn btn-primary', data: { 'disable-with' => 'Cargando...'} %>
      </fieldset>
    </div>
  </div>

<% end %>