<div class="row">
<div class="col-md-10">
<article class="box box-primary">
<section class="box-body">

<%= form_for @current_supplier do |f| %>
  <% @current_supplier.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </fieldset>
  
  <% if god? %>
  <div class="row">
    <div class="col-md-4">
      <fieldset class="form-group">
        <%= f.label :active %><br />
        <%= f.check_box :active %>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <%= f.label :points_to_client %><br />
        <%= f.check_box :points_to_client %>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <%= f.label :points_to_seller %><br />
        <%= f.check_box :points_to_seller %>
      </fieldset>
    </div>
  </div>
    
    <div class="row">
      <div class="col-md-5">
        <fieldset class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, class: 'form-control' %>
        </fieldset>
      </div>
      <div class="col-md-7">
        <fieldset class="form-group">
          <%= f.label :address %>
          <%= f.text_field :address, class: 'form-control' %>
        </fieldset>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <fieldset class="form-group">
          <%= f.label :latitude %>
          <%= f.text_field :latitude, class: 'form-control' %>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset class="form-group">
          <%= f.label :longitude %>
          <%= f.text_field :longitude, class: 'form-control' %>
        </fieldset>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <fieldset class="form-group">
          <%= f.label :telephone %>
          <%= f.text_field :telephone, class: 'form-control' %>
        </fieldset>
      </div>
      <div class="col-md-7">
        <fieldset class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </fieldset>
      </div>
    </div>
    
    <h4> Puntos por producto </h4>
    <div class="row">
      <div class="col-md-7"> <%= label_tag :supplier_point_products, 'Producto' %> </div>
      <div class="col-md-3"> <%= label_tag :supplier_point_products, 'Puntos' %> </div>
    </div>
    
    <div id="js-supplier-point-products" class="supplier_point_products form-group">
      <%= f.fields_for :supplier_point_products do |p| %>
        <%= render 'supplier_point_product_fields', f: p %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Nuevo', f, :supplier_point_products, class: 'btn btn-default' %>
      </div>
    </div>
    
  <% end %>

  <div class="actions">
    <%= f.submit 'Guardar prestador', class: 'btn btn-primary', data: { 'disable-with' => 'Cargando...' } %>
  </div>
<% end %>

</section>
</article>
</div>
</div>