<div class="row">
<div class="col-md-9">
<article class="box box-primary">
<section class="box-body">

<%= form_for(@current_supplier) do |f| %>
  <% @current_supplier.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </fieldset>
  
  <% if god? %>
    <fieldset class="form-group">
      <%= f.label :active %><br />
      <%= f.check_box :active %>
    </fieldset>
    
    <h4> Puntos por producto </h4>
    <div class="row">
      <div class="col-md-7"> <%= label_tag :supplier_point_products, 'Producto' %> </div>
      <div class="col-md-3"> <%= label_tag :supplier_point_products, 'Puntos' %> </div>
    </div>
    
    <div id="js-supplier-point-products" class="supplier_point_products form-group">
      <%= f.fields_for :supplier_point_products do |p| %>
        <%= render 'supplier_point_product_fields', f: p %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Nuevo', f, :supplier_point_products, class: 'btn btn-default' %>
      </div>
    </div>
    
  <% end %>

  <div class="actions">
    <%= f.submit 'Guardar prestador', class: 'btn btn-primary', data: { 'disable-with' => 'Cargando...' } %>
  </div>
<% end %>

</section>
</article>
</div>
</div>