<header class="content-header">
  <%= link_to 'Nuevo Prestador', new_supplier_path,
      class: 'btn btn-primary pull-right' %>
  <h1>Prestadores</h1>
</header>

<!-- Main content -->
<section class="content">
<article class="box box-primary">
<section class="box-body">

  <%= form_for @filter, url: :suppliers, method: :get do |f| %>

    <div class="row">
      <div class="col-md-3">
        <fieldset class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </fieldset>
      </div>

      <div class="col-md-3">
        <fieldset class="form-group">
          <%= f.label :state %>
          <%= f.select :state, [['Activo', true], ['Inactivo', false]],
            {include_blank: true}, {class: 'form-control'} %>
        </fieldset>
      </div>

      <div class="col-md-3">
        <fieldset class="form-group">
          <%= f.label :filter %><br />
          <%= f.submit 'Filtrar', class: 'btn btn-primary' %>
        </fieldset>
      </div>
    </div>

  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Activo</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <%= render @suppliers %>
    </tbody>
  </table>

  <%= paginate @suppliers %>

</section>
</article>
</section>