<header class="content-header">
  <%= link_to 'Editar', edit_supplier_path(@supplier),
      class: 'btn btn-sm btn-success pull-right' %>
  <h1>Ver Prestador</h1>
</header>

<section class="content">
<div class="row">
<div class="col-md-7">

  <article class="box box-primary">
    <header class="box-header with-border">
      <h3 class="box-title"><%= @supplier.name %></h3>
    </header>

    <section class="box-body">

      <strong><i class="fa fa-file-text-o margin-r-5"></i> Descripción</strong>
      <p><%= @supplier.description %></p>

      <hr>
      
      <div class="row">
        <div class="col-md-4">
          <strong><i class="fa fa-arrow-circle-right margin-r-5"></i> Estado</strong>
          <% if @supplier.active %>
            <p class="text-success"><%= icon_ok %> Activo</p>
          <% else %>
            <p class="text-muted"><%= icon_not_ok %> Inactivo</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <strong><i class="fa fa-arrow-circle-right margin-r-5"></i> Puntos para clientes</strong>
          <% if @supplier.clients_get_points? %>
            <p class="text-success"><%= icon_ok %> Activo</p>
          <% else %>
            <p class="text-muted"><%= icon_not_ok %> Inactivo</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <strong><i class="fa fa-arrow-circle-right margin-r-5"></i> Puntos para vendedores</strong>
          <% if @supplier.sellers_get_points? %>
            <p class="text-success"><%= icon_ok %> Activo</p>
          <% else %>
            <p class="text-muted"><%= icon_not_ok %> Inactivo</p>
          <% end %>
        </div>
      </div>

      <hr>
      
      <div class="row">
        <div class="col-md-6">
          <strong>
            <i class="fa fa-users margin-r-5"></i>
            Usuarios
            (<%= @supplier.users.count %>)
          </strong>

          <ul class="text-muted list-unstyled">
            <% @supplier.users.first(10).each do |user| %>
              <li><%= user.first_name %> <%= user.last_name %></li>
            <% end %>
          </ul>
          <%= link_to 'Administrar usuarios', [@supplier, :users] %>
        </div>
        
        <div class="col-md-6">
          <strong>
            Vademecums
            (<%= @supplier.vademecums.count %>)
          </strong>

          <ul class="text-muted list-unstyled">
            <% @supplier.vademecums.each do |vademecum| %>
              <li><%= vademecum.name %> </li>
            <% end %>
          </ul>
        </div>
        
      </div>
    </section>
  </article>

</div>

<% unless @supplier.address.nil?  %>
  <div class="col-md-5">
    <article class="box box-primary">
      <header class="box-header with-border">
        <h3 class="box-title"> Ubicación </h3>
      </header>
      <!-- /.box-header -->
      <section class="box-body">
        <p> <%= @supplier.address %> </p>
        <p class="text-center">
          <%= image_tag map_image(@supplier.latitude, @supplier.longitude, 350, 200) %>
        </p>
      </section>
    </article>
  </div>
<% end %>
</div>
</section>