<div class="nested-fields">
  <div class="row">
    <div class="col-md-4">
      <fieldset class="form-group">
        <%= f.label :product %>
        <%= f.hidden_field :product_id, class: 'select2', 
              data: { behavior: 'searchProduct', url: search_products_path,
                  record_id: f.object.product_id, record_text: f.object.product.try(:name_with_presentation) } %>
      </fieldset>
    </div>
    
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :amount %>
            <%= f.text_field :amount, class: 'form-control', required: true, placeholder: 'Cantidad'  %>
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :cost %>
            <%= f.text_field :cost, class: 'form-control js-cost', required: true, placeholder: 'Costo' %>
          </fieldset>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :health_insurance %>
            <%= f.hidden_field :health_insurance_id, class: 'select2', 
                  data: { behavior: 'searchHealthInsurance', url: search_health_insurances_path,
                      record_id: f.object.health_insurance_id, record_text: f.object.health_insurance.try(:name) } %>
          </fieldset>
        </div>
    
        <div class="col-md-6">
          <fieldset class="form-group">
            <%= f.label :coinsurance %>
            <%= f.hidden_field :coinsurance_id, class: 'select2',
                  data: { behavior: 'searchCoinsurance', url: search_coinsurances_path,
                      record_id: f.object.coinsurance_id, record_text: f.object.coinsurance.try(:name) } %>        
          </fieldset>
        </div>
      </div>
    </div>
    
    <div class="col-md-1">
      <fieldset class="form-group css-sales-btnDelete">
        <%= link_to_remove_association f, class: 'btn btn-danger btn-xs margin-top-5' do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </fieldset>
    </div>
  </div>
  
</div>