<!DOCTYPE html>
<html lang="es">
<head><%= render 'application/head' %></head>
<body class="skin-blue fixed <%= "#{controller_name} #{action_name}" %>">
<div class="wrapper">

  <%= render 'application/navbar' %>

  <aside class="main-sidebar">
    <section class="sidebar">
      <%= render 'application/side' %>
    </section>
  </aside>

  <article class="content-wrapper">
    <%= yield %>
    <section id="snackbar-container">
      <%= flash_messages if flash %>
    </section>
  </article>

  <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <ul class="nav navbar-nav">
          <li class="footer-li">
            <strong> Manes |</strong>
          </li>
          <li>
            <b>Version</b>
            <%= Plenario::Application::VERSION %>
          </li>
        </ul>
      </div>
      <span>
        <%= link_to 'Términos de uso', terms_of_use_path, class: 'footer-link' %>
      </span>
  </footer>

</div>

</body>
</html>